<robot name="eRobo3" version="1.0">
  <joint name="Joint_1" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
    <parent link="base_link"/>
    <child link="Link_1"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
    <limit effort="2.0" lower="-6.28318" upper="6.28318" velocity="1000.0" acceleration="10.0" />
    <safety_controller k_position="100.0" k_velocity="10.0" soft_lower_limit="-6.28" soft_upper_limit="6.28" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <joint name="Joint_2" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.05300 0.14050"/>
    <parent link="Link_1"/>
    <child link="Link_2"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
    <limit effort="2.0" lower="-3.14159" upper="3.14159" velocity="1000.0" acceleration="10.0" />
    <safety_controller k_position="100.0" k_velocity="10.0" soft_lower_limit="-3.14" soft_upper_limit="3.14" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <joint name="Joint_3" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00050 0.36350"/>
    <parent link="Link_2"/>
    <child link="Link_3"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
    <limit effort="2.0" lower="-3.14159" upper="3.14159" velocity="1000.0" acceleration="10.0" />
    <safety_controller k_position="100.0" k_velocity="10.0" soft_lower_limit="-3.14" soft_upper_limit="3.14" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <joint name="Joint_4" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.01400 0.31100"/>
    <parent link="Link_3"/>
    <child link="Link_4"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
    <limit effort="1.5" lower="-4.88692" upper="3.14159" velocity="1000.0" acceleration="12.0" />
    <safety_controller k_position="100.0" k_velocity="10.0" soft_lower_limit="-4.88" soft_upper_limit="3.14" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <joint name="Joint_5" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.04700 0.03900"/>
    <parent link="Link_4"/>
    <child link="Link_5"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
    <limit effort="1.5" lower="-3.14159" upper="3.14159" velocity="1000.0" acceleration="12.0" />
    <safety_controller k_position="100.0" k_velocity="10.0" soft_lower_limit="-3.14" soft_upper_limit="3.14" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>
  <joint name="Joint_6" type="revolute">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.06080 0.04700"/>
    <parent link="Link_5"/>
    <child link="Link_6"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
    <limit effort="4.0" lower="-12.5664" upper="12.5664" velocity="1000.0" acceleration="25.0" />
    <safety_controller k_position="100.0" k_velocity="100.0" soft_lower_limit="-12.56" soft_upper_limit="12.56" />
    <dynamics damping="0.7" friction="0.0"/>
  </joint>



  <link name="Link_1">
    <collision name="Link_1_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_1.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00054" ixy="0.00000" ixz="0.00000" iyy="0.00052" iyz="0.00000" izz="0.00054"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00308 0.13617"/>
      <mass value="0.50622"/>
    </inertial>
    <visual name="Link_1_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_1.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Link_2">
    <collision name="Link_2_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_2_extended.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00310" ixy="0.00000" ixz="0.00000" iyy="0.00310" iyz="0.00000" izz="0.00120"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.04217 0.17500"/>
      <mass value="1.59000"/>
    </inertial>
    <visual name="Link_2_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_2_extended.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Link_3">
    <collision name="Link_3_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_3_extended.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00156" ixy="0.00000" ixz="0.00000" iyy="0.00161" iyz="-0.00001" izz="0.00063"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.05451 0.13517"/>
      <mass value="1.04000"/>
    </inertial>
    <visual name="Link_3_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_3_extended.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Link_4">
    <collision name="Link_4_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_4.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00025" ixy="0.00000" ixz="0.00000" iyy="0.00024" iyz="0.00000" izz="0.00026"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00001 0.04110 0.00150"/>
      <mass value="0.31668"/>
    </inertial>
    <visual name="Link_4_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_4.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Link_5">
    <collision name="Link_5_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_5.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00025" ixy="0.00000" ixz="0.00000" iyy="0.00026" iyz="0.00000" izz="0.00024"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00001 0.00150 0.04110"/>
      <mass value="0.31668"/>
    </inertial>
    <visual name="Link_5_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_5.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="Link_6">
    <collision name="Link_6_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_6.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00004" ixy="0.00000" ixz="0.00000" iyy="0.00007" iyz="0.00000" izz="0.00004"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00578 0.00013"/>
      <mass value="0.10121"/>
    </inertial>
    <visual name="Link_6_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="#ffffffff"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/Link_6.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="base_link">
    <!-- empty root link (no inertial element) -->
  </link>

  <!-- child link holding the physical representation and inertial properties -->
  <link name="base_link_inertial">
    <collision name="base_link_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/base_link.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00083" ixy="0.00001" ixz="0.00001" iyy="0.00085" iyz="0.00003" izz="0.00110"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00095 -0.00172 0.03600"/>
      <mass value="0.47602"/>
    </inertial>
    <visual name="base_link_visual">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="base"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/base_link.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>

  <!-- Fixed joint attaching the inertial child to the root -->
  <joint name="base_link_fixed_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_link_inertial"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <material name="#ffffffff">
    <color rgba="0.8000 0.40000 0 1.0000"/>
  </material>
    <material name="base">
    <color rgba="0.40000 0.40000 0.40000 1.0000"/>
  </material>
    <!-- Tool0 frame -->
  <link name="tool0">
    <!-- TEMPORARILY COMMENTED OUT: ToolPointer mesh
    <visual name="ToolPointer_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/ToolPointer.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="tool_material">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision name="ToolPointer_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/ToolPointer.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    -->
  </link>

  <joint name="tool0" type="fixed">
    <parent link="Link_6"/>
    <child link="tool0"/>
    <origin xyz="0.0 0.042 -0.030" rpy="-1.5708 0.0 3.14159"/>
  </joint>

  <!-- TCP frame at the actual tool center point (tip of ToolPointer) -->
  <link name="tcp">
    <visual name="TCP_marker">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.008"/>
      </geometry>
      <material name="tool_marker">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <!-- TEMPORARILY COMMENTED OUT: ToolPointer collision
    <collision name="TCP_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://zeroerr/meshes/ToolPointer.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    -->
  </link>

  <joint name="tcp_joint" type="fixed">
    <parent link="tool0"/>
    <child link="tcp"/>
    <origin xyz="0 -0.0305 -0.083" rpy="0 0 0"/>
  </joint>

  <material name="tool_marker">
    <color rgba="1 0 0 1"/>
  </material>

  <!-- TABLE: Fixed collision object representing the work surface -->
  <!-- This allows MoveIt to automatically avoid the table without manual Z limits -->
  <!-- Table top at Z=0.08m (80mm above base) to provide larger safety margin -->
  <link name="table">
    <visual>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry>
        <box size="2.0 2.0 0.05"/> <!-- 2m x 2m x 5cm table -->
      </geometry>
      <material name="table_material">
        <color rgba="0.6 0.4 0.2 0.8"/> <!-- Brown with some transparency -->
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry>
        <box size="2.0 2.0 0.05"/> <!-- 2m x 2m x 5cm table -->
      </geometry>
    </collision>
  </link>

  <joint name="table_joint" type="fixed">
    <parent link="base_link"/>
    <child link="table"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <material name="table_material">
    <color rgba="0.6 0.4 0.2 0.8"/>
  </material>

  <!-- ===== CubeEye 2.0 ToF Camera Mount ===== TEMPORARILY COMMENTED OUT
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.100 0.050 0.040"/>
      </geometry>
      <material name="camera_material">
        <color rgba="0.1 0.5 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.060 0.024 0.024"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.060"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000010" ixy="0" ixz="0" iyy="0.000020" iyz="0" izz="0.000010"/>
    </inertial>
  </link>

  <link name="camera_optical_frame"/>

  <joint name="camera_joint" type="fixed">
    <parent link="tool0"/>
    <child link="camera_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_frame"/>
    <origin xyz="0 0 0" rpy="-2.78944 0.0 3.14159"/>
  </joint>

  <material name="camera_material">
    <color rgba="0.1 0.5 1.0 1.0"/>
  </material>
  END CAMERA COMMENT OUT -->

  <!-- Ensure joint limits here match those in ros2_control.xacro and SRDF for correct planner behavior -->
</robot>
