<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Reusable ros2_control joint macro -->
    <xacro:include filename="eRob.ros2_control.macros.xacro"/>

    <xacro:macro
        name="eRobo3_ros2_control"
        params="name initial_positions_file use_fake_hardware:=false">

        <xacro:property
            name="initial_positions"
            value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"
        />

        <ros2_control name="${name}" type="system">

            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>

                <xacro:unless value="${use_fake_hardware}">
                    <plugin>ethercat_driver/EthercatDriver</plugin>
                    <param name="master_id">0</param>
                    <param name="control_frequency">1000</param>
                    <param name="freeze_on_slave_fault">true</param>
                    <param name="timeout">1000000000</param>
                </xacro:unless>
            </hardware>

            <!-- Joint 1 -->
            <xacro:erob_control_joint
                joint_name="Joint_1"
                module_name="zero_err1"
                slave_position="0"
                slave_config="$(find zeroerr)/config/zeroErr.yaml"
                initial_position="${initial_positions['Joint_1']}"
                use_fake_hardware="${use_fake_hardware}"
            />

            <!-- Joint 2 -->
            <xacro:erob_control_joint
                joint_name="Joint_2"
                module_name="zero_err2"
                slave_position="1"
                slave_config="$(find zeroerr)/config/zeroErr1.yaml"
                initial_position="${initial_positions['Joint_2']}"
                use_fake_hardware="${use_fake_hardware}"
            />

            <!-- Joint 3 -->
            <xacro:erob_control_joint
                joint_name="Joint_3"
                module_name="zero_err3"
                slave_position="2"
                slave_config="$(find zeroerr)/config/zeroErr.yaml"
                initial_position="${initial_positions['Joint_3']}"
                use_fake_hardware="${use_fake_hardware}"
            />

            <!-- Joint 4 -->
            <xacro:erob_control_joint
                joint_name="Joint_4"
                module_name="zero_err4"
                slave_position="3"
                slave_config="$(find zeroerr)/config/zeroErr1.yaml"
                initial_position="${initial_positions['Joint_4']}"
                use_fake_hardware="${use_fake_hardware}"
            />

            <!-- Joint 5 -->
            <xacro:erob_control_joint
                joint_name="Joint_5"
                module_name="zero_err5"
                slave_position="4"
                slave_config="$(find zeroerr)/config/zeroErr.yaml"
                initial_position="${initial_positions['Joint_5']}"
                use_fake_hardware="${use_fake_hardware}"
            />

            <!-- Joint 6 -->
            <xacro:erob_control_joint
                joint_name="Joint_6"
                module_name="zero_err6"
                slave_position="5"
                slave_config="$(find zeroerr)/config/zeroErr.yaml"
                initial_position="${initial_positions['Joint_6']}"
                use_fake_hardware="${use_fake_hardware}"
            />

        </ros2_control>

    </xacro:macro>

</robot>